<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="" height="54" alt="">
        </a>
        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-weight-bold m-none"><i class="fa fa-user mr-xs"></i>Entre</h2>
            </div>
            <div class="panel-body">
                <ng-view ui-view="access"></ng-view>
            </div>
        </div>
    </div>
</section>