<form name="formCadastro" ng-submit="submitRegister()" novalidate>
    <div class="form-group mb-lg">
        <label>Nome</label>
        <input name="name" type="text" class="form-control input-lg" ng-class="formCadastro.name.$valid ? 'form-control-success' : 'form-control-danger'" ng-model="cadastro.name" required>
        <p class="alert alert-danger" ng-show="!formCadastro.name.$valid && formCadastro.name.$dirty"><strong>Nome</strong> precisa ser preenchido!</p>
    </div>
    <div class="form-group mb-lg">
        <label>Email</label>
        <input name="email" type="email" class="form-control input-lg" ng-model="cadastro.email" required>
        <p class="alert alert-danger" ng-show="!formCadastro.email.$valid-email && formCadastro.email.$dirty "><strong>Email</strong> parece inválido</p>
        <p class="alert alert-danger" ng-show="formCadastro.email.$touched && !formCadastro.email.$valid"><strong>Email</strong> precisa ser preenchido!</p>
    </div>
    <div class="form-group mb-none">
        <div class="row">
            <div class="col-sm-6 mb-lg">
                <label>Senha</label>
                <input name="pwd" id="password" type="password" class="form-control input-lg" ng-model="cadastro.password" required>

            </div>
            <div class="col-sm-6 mb-lg">
                <label>Confirmação da senha</label>
                <input name="pwd_confirm" id="confirmPassword" type="password" class="form-control input-lg" ng-model="cadastro.rpassword" required>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-right" style="clear: both; float: right;">
            <button type="submit" class="btn btn-primary hidden-xs" ng-disabled="!formCadastro.name.$valid || !formCadastro.email.$valid || !formCadastro.pwd.$valid || !formCadastro.pwd_confirm.$valid">Cadastre-se</button>
            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Cadastre-se</button>
        </div>
    </div>
    <p class="text-center">Já tem uma conta? <a ui-sref="acessibilidade.login">Entre</a></p>
</form>