<form ng-submit="submitLogin()">
    <div class="form-group mb-lg">
        <label>Email</label>
        <div class="input-group input-group-icon">
            <input ng-model="login.email" name="email" type="text" class="form-control input-lg" required data-fv-field="email">
            <span class="input-group-addon">
                <span class="icon icon-lg">
                    <i class="fa fa-user"></i>
                </span>
            </span>
        </div>
    </div>    
    <div class="form-group mb-lg">
        <div class="clearfix">
            <label class="pull-left">Senha</label>
            <a ui-sref="acessibilidade.recuperar" class="pull-right">Esqueceu a senha?</a>
        </div>
        <div class="input-group input-group-icon">
            <input ng-model="login.password" name="pwd" type="password" class="form-control input-lg" required data-fv-field="password">
            <span class="input-group-addon">
                <span class="icon icon-lg">
                    <i class="fa fa-lock"></i>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary hidden-xs">Entrar</button>
            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Entrar</button>
        </div>
    </div>
    <p class="text-center">Ainda não tem um conta? <a ui-sref="acessibilidade.cadastrar">Cadastre-se!</a></p>
</form>