<!-- ENVIAR EMAIL -->
<form ng-submit="verificaEmail()" ng-hide="testeEmail">
    <div class="form-group mb-none">
        <div class="input-group">
            <input name="username" type="email" placeholder="E-mail" ng-model="recuperar.email" class="form-control input-lg" ng-required="true">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit" >Enviar</button>
            </span>
        </div>
    </div>
    <p class="text-center mt-lg">Lembrou? <a ui-sref="acessibilidade.login">Entre.</a></p>
</form>

<!-- ENVIAR TOKEN -->
<form ng-submit="verificaToken()" ng-show="testeEmail && !testeToken">
    <div class="form-group mb-none">
        <div class="input-group">
            <input name="token" type="text" placeholder="Token" class="form-control input-lg" ng-model="recuperar.token" ng-required="true">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit" >Enviar</button>
            </span>
        </div>
    </div>
    <p class="text-center mt-lg">Lembrou? <a ui-sref="acessibilidade.login">Entre.</a></p>
</form>
<!-- COLOCAR NOVA SENHA -->
<form ng-submit="registrarNovaSenha()" ng-show="testeToken">
    <div class="form-group mb-none">
        <div class="input-group">
            <input name="npassword" type="password" placeholder="Nova senha" ng-model="recuperar.npassword" class="form-control input-lg">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
            </span>
        </div>
    </div>
    <p class="text-center mt-lg">Lembrou? <a ui-sref="acessibilidade.login">Entre.</a></p>
</form>